<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl as navbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <!-- One-Forty -->
      </a>
    </div>

    <div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">
      <ul class="nav navbar-nav">
        <li ng-repeat="nav in navbarCtrl.navs"
            ng-class="{'active': nav.isActive}">
            <a href="" ng-click="navbarCtrl.moveTo(nav.link)">{{nav.name}}</a>
        </li>
      </ul>

      <!-- <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul> -->
    </div>
  </div>
</nav>