<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> One-Forty
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">關於我們</a></li>
        <li><a ng-href="#">背景</a></li>
        <li><a ng-href="#">願景</a></li>
        <li><a ng-href="#">困境</a></li>
        <li><a ng-href="#">我們的計畫</a></li>
        <li><a ng-href="#">活動記錄</a></li>
        <li><a ng-href="#">加入我們</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li> -->
      </ul>
    </div>
  </div>
</nav>