@mixin image-section($src, $attachment: fixed, $size: cover) {
  background-image: url('../assets/images/backgrounds/#{$src}');
  background-repeat: no-repeat;
  background-attachment: $attachment;
  background-position: 0 0;
  background-size: $size;
}