<div ng-controller="CounterCtrl as counterCtrl">
  <h2 class="section-title center">
    <!-- 在台灣平均每40個人，就有一位移工，他們分別來自... -->
    他們從哪裡來？在台灣做哪些工作？
  </h2>
  <ul class="counter-list">
    <li class="list-item clearfix" ng-repeat="country in counterCtrl.countries">
      <figure class="item-img-container">
        <img src="{{country.img}}" alt="{{country.name}}" class="item-img">
        <figcaption class="img-name">{{country.name}}</figcaption>
      </figure>
      <div class="item-content">
        <img src="/assets/images/dolls/doll-pale-gray.png"
             alt="{{country.name + ':' + country.amount + '萬人'}}"
             ng-repeat="i in counterCtrl.getAmount(country.amount)"
             class="doll">
        <span class="num"><strong>{{country.amount}}</strong> 萬人</span>
      </div>
    </li>
  </ul>
  <div class="job-list">
    <figure ng-repeat="job in counterCtrl.jobs" class="job-img-container job-{{job.slug}}">
      <img src="{{job.img}}" alt="{{job.name}}" class="job-img">
      <figcaption class="img-name">{{job.name}}</figcaption>
    </figure>
  </div>
</div>
