<div ng-controller="CounterCtrl as counterCtrl" class="background-container">

  <div class="counter-people" sw-stage="people">
    <h2 class="section-title center">你知道嗎？關於東南亞移工</h2>
    <h3 class="text center">在台灣平均每40個人，就有一位移工，他們分別來自...</h3>
    <ul class="people-wall">
      <li class="wall-row"
          ng-repeat="row in counterCtrl.people">
        <span ng-repeat="val in row track by $index"
              ng-class="{
                'doll-active': val,
                'doll-normal': !val,
                'activated': val && counterCtrl.dollState.daActivate,
                'bye': !val && counterCtrl.dollState.dnOut,
                'shifted': val && counterCtrl.dollState.daShift
              }"
              class="doll">
        </span>
      </li>
    </ul>
  </div>

  <div class="counter-countries" sw-stage="countries">
    <h2 class="section-title center">他們從哪裡來？在台灣做哪些工作？</h2>
    <ul class="country-list" ng-class="{'job-shown': counterCtrl.elementState.jobs}">
      <li class="list-item clearfix"
          ng-repeat="country in counterCtrl.countries">
        <figure class="item-img-container" ng-show="counterCtrl.elementState.flags">
          <img ng-src="{{country.img}}" alt="{{country.name}}" class="item-img">
          <figcaption class="img-name">{{country.name}}</figcaption>
        </figure>
        <div class="item-content">
          <img src="/assets/images/dolls/doll.svg"
               alt="{{country.name + ':' + country.amount + '萬人'}}"
               ng-repeat="i in counterCtrl.getAmount(country.amount)"
               ng-show="counterCtrl.elementState.countryDolls"
               class="doll">
          <span class="num" ng-show="counterCtrl.elementState.amount"><strong>{{country.amount}}</strong> 萬人</span>
        </div>
      </li>
    </ul>
    <div class="job-list">
      <figure ng-repeat="job in counterCtrl.jobs"
              class="job-img-container job-{{job.slug}}" ng-show="counterCtrl.elementState.jobs">
        <img ng-src="{{job.img}}" alt="{{job.name}}" class="job-img">
        <figcaption class="img-name">{{job.name}}</figcaption>
      </figure>
    </div>
  </div>
</div>
