.carousel-container {
  position: relative;
  height: 100vh;

  .carousel-slides {
    height: 100vh;

    .slide {
      display: block;

      .slide-image {
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 0 0;
        background-size: cover;
      }
    }

    .page-subtitle {
      padding-top: 20vh;
      margin-top: 0;
    }
  }

  .carousel-indicator {
    position: absolute;
    bottom: 15%;
    left: 40%;

    span {
      display: inline-block;
      margin: .5rem;
      font-size: 2.5rem;

      &.active {
        color: $brand-primary;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .carousel-container {

    .carousel-slides {

      .slide {
        display: block;

        .slide-image {
          height: 500%;
          background-size: 110%;
        }
      }

      .page-subtitle {
        padding-top: 35vh;
        font-size: 28px;
      }
    }

    .carousel-indicator {
      left: 45%;
    }
  }
}