#background {
  height: 100vh;
}

.counter-list {
  float: left;
  width: 66%;
  margin-top: 3rem;
  list-style: none;

  .list-item {
    margin: 1rem 0;

    .item-img-container {
      display: block;
      float: left;
      margin-right: 3rem;

      .item-img {

      }

      .img-name {
        line-height: 2;
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .item-content {
      display: block;
      float: left;

      .doll {
        display: inline-block;
        width: 2.5rem;
        margin-right: 1rem;
      }

      .num {
        display: inline-block;
        margin-left: 1rem;
        font-size: 2rem;
        vertical-align: -115%;
        color: $text-color;

        strong { font-size: 3em; }
      }
    }
  }
}


.job-list {
  position: relative;
  float: left;
  width: 33%;
  height: 80vh;

  .job-img-container {
    position: absolute;
    display: block;
    text-align: center;

    .job-img {

    }

    .img-name {
      line-height: 2.5;
      font-size: 1.8rem;
    }

    &.job-factory { top: 5%; right: 10%; }
    &.job-maid { top: 30%; left: 0; }
    &.job-fisher { bottom: 10%; right: 10%; }
  }
}