.counter-people {
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all .5s ease-in;

  .people-wall {
    position: relative;
    width: 80%;
    margin: 0 auto;
    list-style: none;

    .doll {
      display: inline-block;
      width: 2rem;
      height: 6rem;
      margin-right: 1rem;
      color: transparent;
      background-image: url('/assets/images/dolls/doll.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .2s ease-in;

      &.doll-active {
        position: absolute;


        &.activated {
          background-image: url('/assets/images/dolls/doll-active.svg');
          animation: pulse 1s infinite both;
        }

        &.shifted {
          animation: bounceOutLeft 1s both;
        }
      }

      &.doll-normal {

        &.bye {
          animation: zoomOut 1s both;
        }
      }

      &.doll-left {
        animation-name: dollShiftLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-delay: 1s;
        animation-fill-mode: forward;
      }
    }
  }
}

#background.is-people .counter-people {
  position: fixed;
  top: $navbar-height;
  z-index: 999;
  background-color: $white;
  opacity: 1;
}

@keyframes dollShiftLeft {
  0% { transform: translateX(0%); }
  20% { transform: translateX(5rem); }
  90% { transform: translateX(-70vw); }

  100% {
    transform: translateX(0vw);
  }
}