.counter-countries {
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all .5s ease-in;

  /**
   * Country-list layout
   */
  .country-list {
    float: left;
    width: 100%;
    margin-top: 3rem;
    padding-left: 0;
    list-style: none;

    // DEBUG: for mobile scrolling issue
    &.job-shown {
      display: none;
    }

    .list-item {
      float: left;
      width: 50%;
      margin: 1rem 0;
      text-align: center;


      .item-img-container {
        display: block;

        &.ng-hide-remove { animation: bounceIn 1s both; }

        .item-img {
          width: 50%;
        }

        .img-name {
          line-height: 2;
          font-size: 1.8rem;
          text-align: center;
        }
      }

      .item-content {
        display: block;

        .doll {
          display: none;

          &.ng-hide-remove { animation: fadeInLeftBig .5s both; }
        }

        .num {
          display: inline-block;
          font-size: 1.8rem;
          vertical-align: -115%;
          color: $text-color;

          strong { font-size: 2.5em; }

          &.ng-hide-remove { animation: zoomIn 1s both; }
        }
      }
    }
  }

  /**
   * Job-list layout
   */
  .job-list {
    width: 90%;
    height: 80vh;
    margin: 3rem auto 0;

    .job-img-container {
      display: block;
      float: left;
      text-align: center;


      &.ng-hide-remove { animation: rubberBand 1s both; }

      .job-img {
        width: 80%;
      }

      .img-name {
        line-height: 2.5;
        font-size: 1.8rem;
      }
    }
  }
}

#background.is-countries .counter-countries {
  position: fixed;
  top: $navbar-height;
  z-index: 999;
  background-color: $white;
  opacity: 1;
}

@media (min-width: $screen-sm-min) {
  .counter-countries {
    .country-list {
      width: 66%;
      padding-left: 4rem;

      &.job-shown {
        display: block;
      }

      .list-item {
        float: none;
        width: auto;
        text-align: left;

        .item-img-container {
          float: left;
          margin-right: 3rem;

          .item-img {
            width: auto;
          }

          .img-name {
            line-height: 2;
            font-size: 1.8rem;
            text-align: center;
          }
        }

        .item-content {

          .doll {
            display: inline-block;
            width: 2.5rem;
            margin-right: 1rem;
          }

          .num {
            margin-left: 1rem;
            font-size: 2rem;

            strong { font-size: 3em; }
          }
        }
      }
    }

    .job-list {
      position: relative;
      float: left;
      width: 33%;
      margin-top: 0;

      .job-img-container {
        position: absolute;
        float: none;

        .job-img {
          width: auto;
        }

        .img-name {
          line-height: 2.5;
          font-size: 1.8rem;
        }

        &.job-factory { top: 5%; right: 10%; }
        &.job-maid { top: 30%; left: 0; }
        &.job-fisher { bottom: 10%; right: 10%; }
      }
    }
  }
}
