.counter-people {
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all .5s ease-in;

  .people-wall {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-left: 2vw;
    list-style: none;

    .wall-row {
      margin: .5rem 0;
    }

    .doll {
      display: inline-block;
      width: .9rem;
      height: 3rem;
      margin-right: 1rem;
      color: transparent;
      background-image: url('/assets/images/dolls/doll.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .2s ease-in;

      &.doll-active {
        position: absolute;


        &.activated {
          background-image: url('/assets/images/dolls/doll-active.svg');
          animation: pulse 1s infinite both;
        }

        &.shifted {
          animation: bounceOutLeft 1s both;
        }
      }

      &.doll-normal {

        &.bye {
          animation: zoomOut 1s both;
        }
      }
    }
  }
}

#background.is-people .counter-people {
  position: fixed;
  top: $navbar-height;
  z-index: 999;
  background-color: $white;
  opacity: 1;
}


@media (min-width: $screen-sm-min) {
  .counter-people {

    .people-wall {
      text-align: center;

      .wall-row {
        margin: auto;
      }

      .doll {
        width: 2rem;
        height: 6rem;
        margin-right: 1rem;
      }
    }
  }
}