.navbar {
  margin-bottom: 0;
  border-bottom-width: 0;
  background-color: $brand-primary;
  border-color: darken($brand-primary, 10%);

  .navbar-brand {
    color: transparent;
    background-color: $brand-secondary;
    background-image: url('/assets/images/logo.png');
    background-size: contain;
  }
  .navbar-nav > li > a {
    color: $white;

    &:hover {
      background-color: $brand-secondary;
      transition: all .2s ease-in;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background-color: $brand-secondary;
  }
}
