$navbar-height: 44px;
$navbar-mobile-height: 50px;
$navbar-bg-color: $white;
$navbar-text-color: $text-color;
$navbar-bg-hover: $brand-primary;
$navbar-text-hover: $white;

.navbar {
  width: 100%;
  height: $navbar-mobile-height;
  min-height: $navbar-height;
  margin-bottom: 0;
  border-bottom: 0;
  background-color: $navbar-bg-color;

  .navbar-collapse { border: 0; }

  .navbar-brand {
    width: 10rem;
    height: $navbar-mobile-height;
    margin-right: 15px;
    color: transparent;
    background-color: $navbar-bg-color;
    background-image: url('/assets/images/logo.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .navbar-nav {
    margin: 0 -15px;
    border-bottom: 1px solid #f0f0f0;

    > li > a {
      min-width: 10rem;
      padding: 11.5px 15px;
      color: $navbar-text-color;
      background-color: $navbar-bg-color;
      font-size: 1.7rem;
      text-align: center;

      &:hover {
        color: $navbar-text-hover;
        background-color: $navbar-bg-hover;
        transition: all .2s ease-in;
      }
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background-color: $navbar-bg-hover;
  }

  /**
   * [Mobile navigation style]
   * @type {[type]}
   */

  .navbar-collapse { border-color: transparent; }
  .navbar-toggle {
    padding: 7px 10px;
    margin-bottom: 0;
    border-color: transparent;
    background-color: $navbar-bg-hover;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($navbar-bg-hover, 10%);
    }

    .icon-bar { height: 4px; }
  }
}


@media (min-width: $screen-sm-min) {
  .navbar {
    height: $navbar-height;
    border-bottom: 1px solid #f0f0f0;

    .navbar-brand { height: $navbar-height - 1px; }
    .navbar-nav { border-bottom: 0; }
  }
}
