.navbar {
  margin-bottom: 0;
  background-color: $brand-primary;
  border-color: darken($brand-primary, 10%);

  .navbar-brand { color: $white; }
  .navbar-nav > li > a { color: $white; }
  .navbar-nav > .active > a { background-color: $brand-secondary; }
}
