#problem-dialog {
  height: 100vh;

  .problems-container {
    height: 100vh;
    position: relative;

    .problem-dialog {
      position: absolute;
      width: 35%;
      padding: 3rem;
      background-color: $brand-primary;
      border-radius: 20px;

      .dialog-title {
        color: $white;
      }

      .dialog-text {

      }

      &.dialog-1 { top: 0; left: 0; }
      &.dialog-2 { bottom: 0; left: 0; }
      &.dialog-3 { top: 0; right: 0; }
      &.dialog-4 { bottom: 0; right: 0; }
    }

    .confused-migrant {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}