#sponsors {
  height: 50vh;
  padding: $section-padding-top $section-padding-side;

  .brand-container {
    list-style: none;

    .brand {
      display: inline-block;
      float: left;
      width: 20%;
      padding: 2rem;
    }
  }
}