#background {
  width: 100%;
  height: 200vh;
  // padding: $section-padding-top $section-padding-side;
  overflow: hidden;

  .background-container {
    width: 100%;
    height: 100%;
  }
}

.counter-people {
  &.ng-hide-add { animation: fadeOutLeft 1s both; }
  &.ng-hide-remove { animation: fadeInRight 1s 300ms both; }
}

.counter-countries {
  &.ng-hide-add { animation: fadeOutLeft 1s both; }
  &.ng-hide-remove { animation: fadeInRight 1s 300ms both; }
}