.description {
  padding: $section-padding-top $section-padding-side;
  background-color: $brand-primary;

  .section-title {

  }
}

#about-us {}
#dream { @include image-section('dream.png', scroll, 100%); }
#solution-title {
  @include image-section('solution-title.png', scroll, contain);
  height: 50vh;
}