#gallery {
  padding: $section-padding-top $section-padding-side;

  .photo-wall-container {
    padding-left: 0;
    list-style: none;

    .photo-container {
      display: inline-block;
      float: left;
      width: 50%;
      padding: 1rem;
      overflow: hidden;

      .photo {
        width: 100%;
        background-color: #f0f0f0;
        transition: all .2s ease-in;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  #gallery {

    .photo-wall-container {
      .photo-container {
        float: left;
        width: 20%;
        height: 14rem;
        padding: 1.5rem;

        .photo {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}